body {
  background: linear-gradient(135deg, #744b0a, #000000, #000000, #1c1c1c);

  color: #f0f0f0; 
  font-family: 'Poppins', sans-serif;
}

.navbar,
.footer {
  background-color: #222831; 
}

h1,
h2 {
  font-weight: 600;
}

p {
  font-size: 0.74rem; 
}

.card {
  border: none;
  background-color: black;

  height: 380px; 
}

.card .card-title {
  font-size: 0.9rem; 
}

.card .card-text {
  font-size: 0.75rem; 
}

.cta {
  text-align: center;
  margin-top: 1.5rem;
  font-weight: bold;
}

.btn-primary {
  background-color: #ea9611d2;
  color: #fff;
  border: none;
font-size: 12px;
font-weight: 600;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #e63946;
  color: #121212;
}

img {
  opacity: 1;
  transition: opacity 0.5s ease;
}

img:hover {
  opacity: 0.5;
}

.footer {
  font-size: 0.8rem;
}

#availableBooks {
  margin-top: 250px;
}
#bookCarousel {
  max-width: 600px;
  margin: 0 auto;
}

#bookCarousel .carousel-item img {
  max-height: 300px;
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 10px;
}

.carousel-caption h5 {
  font-size: 1.25rem;
  color: #ffffff;
}

.carousel-caption p {
  font-size: 1rem;
  color: #f0f0f0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
  #bookCarousel .carousel-item img {
    max-height: 200px;
  }
  .carousel-caption h5 {
    font-size: 1rem;
  }
  .carousel-caption p {
    font-size: 0.875rem;
  }
}
